<!DOCTYPE html>
<html>

<head>
    <title>View Requests</title>
</head>

<body>

    <?php     
// Staff Member view his/her requests
// TODO create front end form
// TODO create front end display
require($_SERVER['DOCUMENT_ROOT']."/Database-Project/helper/sqlExec.php");
session_start();

    
// TODO remove this line
$_SESSION['userid'] = "Trissy";
// TODO add Session auth ie if($session == null) etc
//if($_SESSION==null or $_SESSION['type']!='staff member')
//{
//   header("Location: /layout/Appology/user-appology.html");
//   exit();
//}

?>

    <form action="/./Database-Project/php/Staff-Member-Controller/send-email.php" method="post">
        <label>To:</label>
        <input name="recipient" type="text">

        <br>

        <label>Subject:</label>
        <input name="subject" type="text">

        <br>

        <label>Body:</label>
        <textarea name="body" rows="5" cols="50"></textarea>

        <br>

        <input type="submit">
    </form>

</body>

</html>
