html {
  overflow-x: hidden;
}

body {
  background-color: #d9d9d9;
}


.box {
  width: 800px;
  height: 450px;
  left: -webkit-calc( 25% - 0px );
  top: auto;
  position: absolute;
  border-radius: 5px;
  -moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px;
  margin : auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  display: flex;
  transition: box-shadow .3s ease;
  -moz-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.9);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.9);

}


#boxContent{
  position:absolute;
  left: 0;
  right: 0;
}




.navbar .navbar-inner {
  background-color: #1F273A;
  background-image: none;
}

.navbar-inverse {
  background-color: #404040;
  border-color: #d9d9d9;
}

.BigImg .BigImg-wrapper {
  text-align: center;
}

.BigImg {
  background-image: url("/Database-Project/images/eMarketing-Egypt-to-release-first-study-on-internet-users’-engagement-with-online-advertising.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.BigImg .BigImg-wrapper {
  padding: 16% 5%;
  background-color: rgba(0, 0, 0, 0.38);
}
.BigImg .BigImg-wrapper h1 {
  font-weight: 300;
  color: white;
  letter-spacing: .25em;
  text-transform: uppercase;
  text-shadow: 0 4px 0 rgba(0, 0, 0, 0.12);
  position: relative;
  z-index: 1;
}

.fa {
  padding: 20px;
  font-size: 30px !important;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}


underlineImg {
  padding-bottom: 5px;
  border-bottom: 2px solid currentColor;
}

footer {
  padding: 2rem;
  background-color: #404040;
  color: white;
}

#LinksInPageShortcuts {
  font-size: 16px;
}

#ulLinkList li {
  display: inline;
  padding: 5px;
}

#FooterText {
  display: inline;
  font-size: 14px;
}
#stretch{
  margin-bottom:  500px;
}
