body {
  background-color: #bababa;

}

html {
  overflow-x: hidden;
}


.navbar .navbar-inner {
  background-color: #1F273A;
  background-image: none;
}

.navbar-inverse {
  background-color: #404040;
  border-color: #d9d9d9;
}

.BigImg .BigImg-wrapper {
  text-align: center;
}

.BigImg {
  background-image: url("/Database-Project/images/manager.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.BigImg .BigImg-wrapper {
  padding: 16% 5%;
  background-color: rgba(0, 0, 0, 0.38);
}

.panel {
    border: 3px solid;
    border-radius: 25px;
    text-align: left;
}

.announcements {
    margin: 10px;
}

underlineImg {
  padding-bottom: 5px;
  border-bottom: 2px solid currentColor;
}

footer {
  padding: 2rem;
  background-color: #404040;
  color: white;
}

#LinksInPageShortcuts {
  font-size: 16px;
}

#ulLinkList li {
  display: inline;
  padding: 5px;
}

#FooterText {
  display: inline;
  font-size: 14px;
}
#stretch{
  margin-bottom:  220px;
}
