<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>User</title>
  <link rel="stylesheet" href="style.css"/>
  <script src="jquery-3.2.1.min.js"></script>
  <script src="script.js"></script>
</head>
<body>
<div id = "mainPanel" class = "square">
<div id = "errorPanel" class = "square">
</div>
<form action="/php/login.php" method="post">
   <input type="text" name="name" value = "Username"><br>
   <input type="password" name="email" value = "Password"><br>
   <input type="submit" name="login">
</form>
  <div id = "panelFooter" class = "square">
  </div>
</div>
</body>
</html>